
.containerCard{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: auto;
    margin: auto; 
    
  }

.card{
    padding: auto;
    margin-top: 40px; 
    width: 300px;
    height: 345px;
    text-align: center;
}

@media screen and (max-width:1200px ){
  .containerCard{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    padding: auto;
    margin: auto;
  }
}

@media screen and (max-width:1050px ){
  .containerCard{
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: auto;
    margin: auto;
  }
}

@media screen and (max-width:650px ){
  .containerCard{
    display: grid;
    grid-template-columns: 100%  ; 
    padding: auto;
    margin: auto;
  }
}