
.about{
    display: grid;
    grid-template-columns: 45% 45% ;
    padding: auto;
    margin: auto;
    text-align: center;
    
}

.a-left{
    position: relative;
    height: 100wh;
    padding: 40px;
}
.a-right{
    flex: 1;
    margin: auto;
    padding: 40px;
}

.cardContainer{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 60% 60% ;
    padding-left: 100px;
    padding-bottom: 40px;
    margin: auto;
}

@media screen and (max-width:1200px ){
    .about{
        display: grid;
        grid-template-columns: 45% 45% ;
        padding: auto;
        margin: auto;
        text-align: center;
        
    }
    .a-left img{
        height: 450px;
        width: 450px;
    }
    .a-right img{
        height: 450px;
        width: 450px;
    }

  }
  @media screen and (max-width:1200px ){
    .about{
        display: grid;
        grid-template-columns: 45% 45% ;
        padding: auto;
        margin: auto;
        text-align: center;
        
    }
    .a-left img{
        height: 350px;
        width: 350px;
    }
    .a-right img{
        height: 350px;
        width: 350px;
    }

  }

@media screen and (max-width:900px ){
    .cardContainer{
      display: grid;
      grid-template-columns: 50% 50% ;
      padding: auto;
      margin: auto;
    }
    .about{
        display: grid;
        grid-template-columns: 50% 50% ;
        padding: auto;
        margin: auto;
        text-align: center;
        
    }
  }

  @media screen and (max-width:750px ){
    .cardContainer{
      display: grid;
      grid-template-columns: 60%  ;
      padding: auto;
      margin: auto;
    }
    .about{
        display: grid;
        grid-template-columns: 60%;
        padding: auto;
        margin: auto;
        text-align: center;
        
    }
  }

  @media screen and (max-width:500px ){
    .cardContainer{
      display: grid;
      grid-template-columns: 100%  ;
      padding: auto;
      margin: auto;
    }
    .about{
        display: grid;
        grid-template-columns: 100%;
        padding: auto;
        margin: auto;
        text-align: center;
        
    }
  }